*{
    font-family: "Madimi One", sans-serif;
}
.heading{
    float: inline-start;
    margin-left: 15rem;
    padding: 2rem;
    color: white;
}
.heading h1{
    font-size: 50px;
    font-weight: 180;
}
.search{
    margin-top: 20px;
    margin-left: 8rem;
}
.search input{
    background-color: rgb(213, 212, 212);
    width: 20rem;
    height: 3.1rem;
    border-radius: 20px 0 0 20px;
    text-align: center;
}
.search button{
    background-color: greenyellow;
    width: 5rem;
    height: 3.1rem;
    border-radius: 0 20px 20px 0;
}

