.image-container img{
    width: 400px;
    height: auto;
    flex-direction: column;
    margin-top: 30rem;
    margin-left: 7rem;
    flex: 1;
}
.texts {
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    display: flex;
    position: absolute;
    left: 35rem;
    margin-top: -16rem; 
}
.texts h2{
    color: greenyellow;
    flex: 1;
}
.texts img{
    position: absolute;
    right: -70px;
   width: min-content;
   margin-top: 10px;
}
.texts h1{
    position: relative;
}