.image-container img{
    width: 400px;
    height: auto;
    flex-direction: column;
    margin-top: 30rem;
    margin-left: 7rem;
    flex: 1;
}
.texts {
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    display: flex;
    position: absolute;
    left: 35rem;
    margin-top: -16rem; 
}
.texts h2{
    color: greenyellow;
    flex: 1;
}
.texts img{
    position: absolute;
    right: -70px;
   width: min-content;
   margin-top: 10px;
}
.welcome{
    position: absolute;
    top: 20px;
    white-space: nowrap;
    align-items: center;
    
}
.welcome h1{
    margin-top: 2rem;
    position: absolute;
    margin-left: -5rem;
   font-family: "Madimi One", sans-serif;
   font-size: x-large;
}
.welcome span{
    color: greenyellow;
}
.welcome p{
    position: absolute;
    padding: 2rem;
    margin-left: -8rem;
    font-size: small;
    margin-top: 3rem;
    flex-direction: column;
    font-family: sans-serif;
    text-align: start;
}
.dest-buttons{
    position: absolute;
    white-space: nowrap;
    margin-top: 28rem;
    margin-right: -14rem;   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    
}
.dest-buttons a{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: sans-serif;
    font-size: small;
}
.dest-buttons :hover{
    color: rgb(147, 223, 34);
}
.dest-buttons::before{
    transform: scaleX(0);
    transition: transform 0.3 ease-in-out;
}
.dest-buttons:hover::before{
    transform: scaleX(1);
}
.about-button{
    position: absolute;
    white-space: nowrap;
    margin-top: 40rem;
    margin-right: -8rem;
    background-color: rgb(147, 224, 31);
    width: 8rem;
    height: 2.1rem;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    border-radius: 10px;
    color: white;
}

