*{
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    font-weight: 100;
}
.full-container{
   align-items: center;
   display: inline-flex;
   margin: 2px;
}
.nav-container{
    list-style: none;
    display: flex;
    padding: 1rem;
    margin-left: 35rem;
}
.nav-container li{
    margin: 10px;
}
.nav-container a{
    text-decoration: none;
    color: black;
}
.register{
    border-radius: 10px;
    background-color: rgb(150, 218, 48);
    width: 100px;
    border-color: rgb(150, 218, 48);
    color: white;
}
.logo-container{
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: greenyellow;
}
.logo-container img{
    width: 30px;
}
