* {
    margin: 0;
    box-sizing: border-box;
  }
  .img-container{
    max-width: 100%;
    overflow: hidden;
  }
  
  .image-container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 10px;
  }
  
  .image-container img {
    max-width: 100%; 
    height: auto;
    display: block;
    width: 10px;
  }
  .image-container img::before{
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  
  